<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.ortus.app</string>
	<key>CFBundleName</key>
	<string>Ortus</string>
	<key>CFBundleExecutable</key>
	<string>Ortus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ortus.app.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ortus</string>
			</array>
		</dict>
	</array>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OrtusSlackClientID</key>
	<string></string>
	<key>OrtusSlackRedirectURL</key>
	<string></string>
	<key>OrtusSlackCallbackScheme</key>
	<string>ortus</string>
</dict>
</plist>
